@model IrsaWebStore.Models.ViewModel.Cart.CartVM



<div class="ajaxcart" style="color:white;">
    @if (Request.IsAuthenticated)
    {
        <a href="/cart">
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
    }
    else
    {
        <a href="/cart/CartWithoutLogin">
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </a>
    }
    @IrsaWebStore.Resources.GlobalRes.Your_cart: @Model.Quantity @IrsaWebStore.Resources.GlobalRes.Item_s - $@Model.Price
    <br />
    <span class="glyphicon glyphicon-check"></span> @Html.ActionLink(@IrsaWebStore.Resources.GlobalRes.Checkout, "Index")
</div>